[Match]
Name = eth0

[Network]
Description = Interface eth0 autoconfigured by PVE
Address = 193.191.177.174/25
Gateway = 193.191.177.254
DHCP = no
IPv6AcceptRA = false

[Neighbor]
Address = 193.191.177.254
LinkLayerAddress = ca:fe:c0:ff:ee:00
